.btn {
  padding: 10px 24px;
  font-size: 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-dark-color);
  box-shadow: var(--btn-shadow);
  color: var(--white-color);
  font-weight: 600;
  letter-spacing: 1px;
  transform: scale(1);

  transition: background-color var(--secondary-animation),
    transform var(--secondary-animation);
}

.btn:hover {
  background-color: var(--accent-hover-color);
}

.btn:active {
  background-color: var(--accent-active-color);
  transform: scale(0.97);
}

.search-form__btn {
  composes: btn;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.search-form__btn:disabled {
  background-color: var(--primary-light-color);
}

.search-form__btn--reset {
  composes: search-form__btn;
  right: -10px;
  transform: translateX(100%);
}

.search-form__btn--reset:active {
  background-color: var(--accent-active-color);
  transform: translateX(100%) scale(0.97);
}
