@import-normalize; /* bring in normalize.css styles */

:root {
  --primary-light-color: #ffd5dc;
  --primary-dark-color: #2b777e;
  --accent-hover-color: #ff86aa;
  --accent-active-color: #df2e2e;
  --white-color: #ffffff;

  --obj-shadow: 0.3px 0.3px 0.4px 0px #00000018,
    1.3px 1.3px 0.75px 0px #1b1b1b13, 2.7px 3px 1.5px 0px #11111115,
    5px 5px 4px 1px #1f272917, 6px 7px 4px 0px #1d232515,
    9px 10px 6px 0px #1c1d1d1c, 12px 12px 6px 0px #2428290a;
  --heading-shadow: 3px 3px 6px rgba(63, 63, 63, 0.616),
    1px 1px 1px rgba(63, 63, 63, 0.616);
  --btn-shadow: inset 3px 3px 8px rgba(255, 255, 255, 0.38),
    inset -3px -3px 8px rgba(0, 0, 0, 0.38);
  --text-shadow: 2px 2px 4px rgba(63, 63, 63, 0.616),
    1px 1px 1px rgba(63, 63, 63, 0.616);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --secondary-animation: 150ms ease-out;
}

html {
  box-sizing: border-box;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-light-color);
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
p,
b {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.AppFixed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  width: 100%;
  height: 100%;
  filter: blur(5px);
}

.is-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  pointer-events: none;
}

.container {
  width: 100%;
  padding: 180px 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.icon {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.reqest-message {
  color: var(--white-color);
  opacity: 0.7;
  margin-top: 60px;
}

.reject-image {
  display: inline-flex;
  height: 400px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(./images/svg/404-monster.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff79;
  border: 2px solid var(--primary-dark-color);
  opacity: 0.3;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-dark-color);
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
}
